@use "../base";
@use "../abstracts";

.column > *{
    margin: 0 58px;

    @include abstracts.mq(){
        margin: 0 38px;
    }
}

.column{
    min-height: 560px;
    
    @include abstracts.mq(){
        min-height: 310px;
    
    }
   

    &--one{
        background-color: base.$Bright_orange;
        border-radius: 8px 0 0 8px;

        @include abstracts.mq(){
            border-radius: 0
        }
    }

    &--two{
        background-color: base.$Dark_cyan_500
    }

    &--three{
        background-color: base.$Dark_cyan_800;
        border-radius: 0 8px 8px 0;

        @include abstracts.mq(){
            border-radius: 0
        }
    }

    &__icon{
        padding: 50px 0 42px 0;
        
        @include abstracts.mq(){
            padding: 50px 0 32px 0;
        
        }
    }

    &__title{
        font-family: base.$font_primary;
        font-size: 2.7rem;
        padding-bottom: 28px;
    }

    &__body{
        font-family: base.$font_secondary;
        font-size: 0.948rem;
        line-height: 1.9;
        padding-bottom: 92px;
        letter-spacing: .7px;

        @include abstracts.mq(){
            line-height: 2.1;
            padding-bottom: 32px;
            letter-spacing: none;
        
        }
    }
}